/* ************************************ *\
                TITULO
\* ************************************ */
h3 {
  color: #101215;
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 120%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

/* ************************************ *\
                SUB-TITULO
\* ************************************ */
h4 {
  color: #101215;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Firas Sans', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

/* ******************************* *\
                TEXTO
\* ******************************* */
.texto {
  color: #454446;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  .texto {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}


/* ********************************* *\
             RESPOSTAS
\* ********************************* */
.alert {
  color: #D2D6E0;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  .alert {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.card {
  background-color:#080F22;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
}

.d-flex {
  font-weight: 600;
  font-size: 16px;
}

.justify-content-center {
  text-align: center;
}

.form-check-inline {
  display: inline-flex;
  margin-left: 30px;
}


/* ******************************************* *\
                    PAINEL
\* ******************************************* */
.painel {
  background-color: #FAFBFE;
	border: 1px solid #CCC;
  border-color: #CCC #999 #999 #CCC;
  border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

.painel h4 {
  padding: 16px;
	border-bottom: 1px dashed #1A2C5F;
	margin: 0;
}


/* ********************************** *\
            BOTAO AVANÇAR
\* ********************************** */
#botao {
  text-align: right
}


/* ************************* *\
            ICONES
\* ************************* */
.icon-ok {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
	color: #3a6332;
}

.icon-ok::before {
	content: "\2714";
  font-family: "IconicFill";
}

.icon-invalid {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
	color: #7b0000;
}

.icon-invalid::before {
	content: "\2718";
	font-family: "IconicFill";
}
