*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-white {
  color: #F2F4FB;
}

.weight-ligth {
  font-weight: 300;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  color: #1B1E23;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}


.ml-4 {
  margin-left: 72px;
}

.mt-2 {
  margin-top: 16px;
}

.pt-2 {
  padding-top: 16px;
}

.ml-2 {
  margin-left: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

/* ***************************** *\
            SEÇÃO FOOTER
\* ***************************** */
.list {
  list-style: none;
}

.list li {
  margin-bottom: 12px;
}

.list a {
  color: #7387C1;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.list a:hover {
  opacity: .9;
  color: #FBBC22;
}

footer {
  background: linear-gradient(220.94deg, #2F4B9A, #1A2C5F 85.28%);
}

.bt-purple {
  border-top: 1px solid #7387C1;
}



.w-auto {
  width: auto;
}

.button-app {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.button-app:hover {
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 70, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 70, 196, 0.25));
}

p {
  color: #666566;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}


span {
  color: #101215;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}
