<!-- SEÇÃO FOOTER -->
<footer>
  <section class="container  flex-top">
    <div class="ml-4  mb-32">
      <h4 class="color-white  weight-ligth">Alcoólicos Anônimos</h4>
      <ul class="list  mt-2  pt-2">
        <li><a routerLink=''>Home</a></li>
        <li><a routerLink="/perguntas">Você deve procurar o A.A.</a></li>
        <li><a routerLink="/passos">Os 12 passos de A.A.</a></li>
      </ul>
    </div>

    <div class="ml-4  mb-32">
      <h4 class="color-white  weight-ligth">Outros Grupos</h4>
      <ul class="list  mt-2  pt-2">
        <li><a routerLink="/nav-grupos">Grupos de A.A.</a></li>
      </ul>
    </div>

    <div class="ml-4  mb-32">
      <h4 class="color-white  weight-ligth">Salva Vidas</h4>
      <ul class="list  mt-2  pt-2">
        <li><a routerLink="/login">Sobre nós</a></li>
        <li><a routerLink="/salvavidas">Grupo Salva Vidas</a></li>
        <li><a routerLink="/localizacao">Localização</a></li>
      </ul>
    </div>

    <div class="ml-4  mb-32"> 
      <h4 class="color-white  weight-ligth">Links</h4>
      <ul class="list  mt-2  pt-2">
        <li><a href="https://www.revistavivencia.org.br/"  target="_blank">Revista Vivência</a></li>
        <li><a href="https://www.loja-aa.org.br/" target="_blank">Junaab</a></li>        
      </ul>
    </div>

    <div class="ml-4  mb-32"> 
      <!-- <h4 class="color-white  weight-ligth">Contato</h4> -->
      <h4 class="color-white  weight-ligth">ESCRITÓRIO DE SERVIÇOS LOCAIS</h4>
      <ul class="list  mt-2  pt-2">
        <li><a href="">(19) 3234-8088</a></li>
        <li><a href="">alcoolicosanonimos.cps@gmail.com</a></li>
        <li><a href="">Atendimento Horário comercial</a></li>
      </ul>
    </div>
  </section>

  <section class="container  flex-spacebetween  bt-purple">
    <div class="flex-start">
      <img style="max-width: 96px;" src="../../../assets/svg/footer/logo-white.svg" alt="A.A.">
      <p class="color-white  ml-2">
        Grupo Salva Vidas de Alcoólicos Anônimos <br>
        Rua Guaraci, 38 - Campinas, SP - 13031-040
      </p>
    </div>

    <div class="flex-start">
      <span>Política de Privacidade | v-3.1.3</span>
    </div>
  </section>
  
</footer>

