/* -------------------< MENU LATERAL >---------------- */
.navbar-menu {
  font-weight: bold;
  position: fixed;
  width: 210px;
  margin: 0;
  z-index: 9998;
  padding: 0;
  list-style: none;
}

.navbar-usuario {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  border-bottom: 1px solid #006ACB;
  margin-bottom: 15px;
}

.navbar-menuitem {
  padding: 10px;
}

.navbar-menuitem a {
  color:#494541;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #006ACB;
}

.navbar-menuitem.ativo {
  background-color: #C0BBB7;
}

h3 {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}


/* -------------nav-pesquisa ----------- */
.nav-pesquisa {
  display: flex;
  height: auto;
  padding: 0;
}

.campo-pesquisa {
  margin-top: 60px;;
}
/* #######################################
###### campo de perquisa keyup ###########
########################################## */
.list-group {
  position: absolute;
  z-index: 9995;
  background-color: #E8E8E8;
  width: 250px auto; 
}

ul.list-group {
  padding-inline-start: 0;
  margin-top: 40px;
}

li {
  padding: 10px; 
  list-style: none;
  margin-left: 0;
  font-weight: 500;
}

/* -----------< barra azul -------------- */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #006ACB;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  color: #FFF;
  font-weight: 600;
  z-index: 9994
}

.p-button {
  background-color: #006ACB;
  border: none;
}

pi {
  border: none;
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}


.active {
  color: #FFF;
  border-bottom: 3px solid #FFF;
}
