<div class="stick">
  <div class="container">
    <div class="p-col-12 topo">
      <div class="p-grid  p-justify-between">
        <div class="p-col-5">
          Salva-vidas Área-29
        </div>
        <div class="p-col-7  p-offset-0  telefone" >
          <img src="../../../assets/icones/telefone.png" /> (19) 3234-8088
          <img src="../../../assets/icones/brasil.png" />
        </div>
    </div>
    </div>
  </div>
</div>

<!-- {{ grupos2 | json }} -->
<div class="nav-pesquisa" *ngIf="!auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
  <div class="container p-col-12">
    
    <div class="p-grid">
      <div class="p-col-12 p-md-4 p-lg-4" style="text-align: center; margin-top: 20px;">
        <img style="width: 80px;" src="../../../assets/imagens/aa-logo.png" alt="alcoolicos anonimos">
      </div>
      <div class="p-col-12 p-md-4 p-lg-4" style="text-align: center;" >
         <h1>Alcoólicos Anônimos</h1>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4" >
        <div class="p-inputgroup  campo-pesquisa" style="text-align: center;">
          <input type="text" pInputText placeholder="Pesquise pelo nome do grupo"
            #termoDaPesquisa (keyup)="pesquisa(termoDaPesquisa.value)">  

          <span class="p-inputgroup-addon"><i class="pi  pi-search"></i></span>

          <ul  class="list-group" >
            <li class="list-group-item" *ngFor="let grupo of grupos | async" > 
              <a [routerLink]="[ 'nav-grupos', grupo.codigo ]" (click)="limpaPesquisa()">{{ grupo.nome | pesquisaReduzida:20:0 }}</a>
            </li>                   
          </ul>
                      
        </div>
      </div>
  </div>

  </div>
</div> 


<!-- {{ grupos2 | json }} 
<div class="nav-pesquisa" *ngIf="!auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
  <div class="container">
    <div class="p-col-12">

    <div class="p-grid  p-justify-between">
      <div class="p-col-2 p-sm-5 p-lg-7"></div> 

      <div class="p-col-10 p-sm-7 p-lg-5  p-fluid   p-offset-0">

        <div class="p-inputgroup  campo-pesquisa">
          <input type="text" pInputText placeholder="Pesquise pelo nome do grupo"
            #termoDaPesquisa (keyup)="pesquisa(termoDaPesquisa.value)">  

          <span class="p-inputgroup-addon"><i class="pi  pi-search"></i></span>

          <ul  class="list-group" >
            <li class="list-group-item" *ngFor="let grupo of grupos | async" > 
              <a [routerLink]="[ '/nav-grupos', grupo.codigo ]" (click)="limpaPesquisa()">{{ grupo.nome | pesquisaReduzida:20:0 }}</a>
            </li>                   
          </ul>
                      
        </div>

      </div>
      
    </div>

  </div>
  </div>
</div>  
-->

<nav class="navbar">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <button *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"
          type="button" (click)="display = true" pButton icon="pi pi-bars" class="pi  p-button-sm" >
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/nav-grupos">Grupos de A.A.</a>
      </li>
      

      <li class="nav-item">
        <div class="dropdown"> <!-- class="dropbtn" -->
          <a  class="nav-link" routerLinkActive="active" >Sobre</a>
          <div class="dropdown-content">
            <a class="nav-link" routerLinkActive="active" routerLink="/salvavidas">Grupo Salva vidas</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/localizacao">Localização</a>
            <!--a href="#">Link 3</a-->
          </div>
        </div>
      </li>

    </ul>
  </div>
</nav>

<!-- MENU LATERAL ################################################  -->
<p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000">
  <h3>Menu</h3>

  <ul class="navbar-menu" >
    <li class="navbar-usuario">{{ auth.jwtPayLoad?.nome }}</li>
   

    <li class="navbar-menuitem"
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" routerLinkActive="ativo">
      <a routerLink="/dashboard">Dashbboard</a>
    </li>   

    <li class="navbar-menuitem"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" routerLinkActive="ativo">
        <a routerLink="/lancamentos">Lançamentos</a>
    </li>

    <li class="navbar-menuitem"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"  routerLinkActive="ativo">
        <a routerLink="/pessoas">Pessoas</a>
    </li>

    <li class="navbar-menuitem"
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"  routerLinkActive="ativo">
      <a routerLink="/relatorios/lancamentos">Relatórios</a>
    </li>

    <li class="navbar-menuitem"
      *ngIf="auth.temPermissao('ROLE_CADASTRAR_CATEGORIA')" routerLinkActive="ativo">
      <a routerLink="/categorias">Categorias</a>
    </li>

    <li class="navbar-menuitem"  
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_GRUPO')" routerLinkActive="ativo">
      <a routerLink="/grupos">Grupos</a>
    </li>

    <li class="navbar-menuitem" 
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_CIDADE')" routerLinkActive="ativo">
      <a routerLink="/cidades">Cidades</a>
    </li>

    <li class="navbar-menuitem" 
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_EVENTO')" routerLinkActive="ativo">
      <a routerLink="/eventos">Eventos</a>
    </li>

    <li class="navbar-menuitem"
      *ngIf="auth.temPermissao('ROLE_CADASTRAR_USUARIO')"  routerLinkActive="ativo" >
      <a routerLink="/usuarios/novo">Usuários <span class="p-tag p-tag-info">Novo</span></a>
    </li>

    <li class="navbar-menuitem"
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_USUARIO')"  routerLinkActive="ativo" >
      <a routerLink="/usuarios">Usuários</a>
    </li>

    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>   

    <button pButton type="button"
      (click)="criarNovoAccessToken()" label="Cancelar" class="ui-button-secondary">
    </button>
  </ul>
</p-sidebar>



<div class="banner" *ngIf="!auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../../assets/banner2/banner.1.jpg" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/banner2/banner.2.jpg" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/banner2/banner.3.jpg" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/banner2/banner.4.jpg" />
    </ng-template>
  </owl-carousel-o>

</div>

