
/* ###################################
########### EVENTOS ##################
###################################### */

span {
  font-weight: 400;
}

#bloco {
  text-align: center;
}

h4 {
  font-weight: 500;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.fundo {  
  background: #E0E0FF repeating-conic-gradient(hsla(0,0%,100%,.2) 0 15deg, hsla(0,0%,100%,0) 0 50deg);
}

/* ***************************** *\
               SVG
\* ***************************** */
svg {
  margin-top: 72px;
}


/* ***************************** *\
             LOADING
\* ***************************** */
.loading {
  font-family: 'Fira Sans', sans-serif;
  font-size: 8px;
  animation: blink .9s ease-in-out infinite;
}
.triangle {
  stroke-dasharray: 17;
  animation: dash 3s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 136;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}