<div class="p-col-12">

    <div style="text-align: center;" *ngIf="eventosHome === undefined; else elseBlock">
       
        <svg width="200" heigth="200" viewBox="0 0 40 60">            
            <polygon class="triangle" points="16,1 32,32 1,32" 
              fill="none" stroke="#7387C1" stroke-width="1" />
            <text class="loading" x="0"  y="45" fill="#1A2C5F">Loading...</text>
        </svg>
        
    </div>

    <ng-template #elseBlock>
    <div  *ngFor="let evento of eventosHome"> 
        <div id="bloco" class="p-grid  p-ai-center   " >
          
            <div  class="p-col-12  p-sm-5  p-lg-5"  >
                <h4>{{ evento.tipoEvento }}</h4> 
                <p>Data: {{ evento.dataHoraEvento | date: 'dd/MM/yyyy - HH:mm' }} horas</p> 
                <p>Tema: {{ evento.tema }}</p>  
                <p>Palestrante: {{ evento.palestrante }}</p>                                 
            </div>

            <div class="p-col-12  p-sm-7  p-lg-7" >
                <div  class="p-grid" >
                    <div class="p-col-12 ">
                        
                    </div>
                    <div class="p-col-12" >
                        <p>Local: {{ evento.grupo.nome }}</p>
                        <p style="margin-right: 30px;">Rua:  {{ evento.grupo.logradouro }}, nº {{ evento.grupo.numero }} - {{ evento.grupo.bairro }}</p>
                        <p>{{ evento.grupo.complemento }}</p>     
                        <p>{{ evento.grupo.cidade?.nome }} / {{ evento.grupo.cidade?.estado.sigla }}</p>                     
                        
                    </div>
                </div>                  
            </div>
                  
        </div>
        <hr/>
    </div>
    </ng-template>

    </div>
