/* ************************************** *\
              TITULO EVENTO
\* ************************************** */
h4 {
  color: #101215;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 130%;
}

@media screen and (max-width: 960px) {
  h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}


/* ************************************** *\
            DESCRIÇÃO DO EVENTO
\* ************************************** */
p {
  color: #656566;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}


#bloco {
  text-align: center;
}


.fundo {  
  background: #E0E0FF repeating-conic-gradient(hsla(0,0%,100%,.2) 0 15deg, hsla(0,0%,100%,0) 0 50deg);
}


/* ***************************** *\
               HR
\* ***************************** */
hr {
  background-color: #1A2C5F;
  border: none;
}


/* ***************************** *\
               SVG
\* ***************************** */
svg {
  margin-top: 72px;
}


/* ***************************** *\
             LOADING
\* ***************************** */
.loading {
  font-family: 'Fira Sans', sans-serif;
  font-size: 8px;
  animation: blink .9s ease-in-out infinite;
}
.triangle {
  stroke-dasharray: 17;
  animation: dash 3s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 136;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}