input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}

.text-success {
    color: #008000;
  }

.text-danger {
    color: #C00000;
}

#link__anexo {
    margin-right: 40px;
    position: relative;
    margin-top: 8px;
}

/* ##########################################
######## MENSAGEM DE SUCESSO ################
############################################# */
i {
    font-size: 2em;    
  }

  .linha {
    margin-top: 50px;
  }

  p {
    text-align: center;
  }

  .botao {
      margin-bottom: 10px;
      margin-top: 20px;
  }

  .espaco-botao {
      margin-left: 10px;
  }




