<div class="container">
  <div class="p-col-12">
  <form autocomplete="off" #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ atualizando ? 'Atualização de' : 'Novo' }} lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton class="form-control" [options]="tipos" #tipo name="tipo"
                         [(ngModel)]="lancamento.tipo" >
        </p-selectButton>
      </div>

      <div class="p-col-12  p-sm-3 p-fluid">
        <label for="dataVencimento">Vencimento</label>
        <input id="dataVencimento" class="form-control" type="date" pInputText
                      name="dataVencimento" ngModel  #dataVencimento="ngModel" required
                      [(ngModel)]="lancamento.dataVencimento" />
        <app-message [control]="dataVencimento" error="required" text="Informe a data de vencimento"></app-message>
      </div>

      <div class="p-col-12  p-sm-3 p-fluid">
        <label for="dataPagamento">{{ tipo.value === 'RECEITA' ? 'Entrada' : 'Saída' }}</label>
        <input id="dataPagamento" class="form-control" type="date" pInputText
                name="dataPagamento" ngModel #dataPagamento="ngModel"
                [(ngModel)]="lancamento.dataPagamento" />
      </div>

      <div class="p-col-12 p-sm-9 p-fluid">
        <label for="descricao">Descrição</label>  <!-- {{ descricao.errors | json }} -->
        <input id="descricao" class="form-control" type="text" pInputText
               name="descricao" ngModel #descricao="ngModel" required minlength="5"
               [(ngModel)]="lancamento.descricao" />
        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}.">
        </app-message>       
      </div>

      <div class="p-col-12 p-sm-3 p-fluid"> 
        <label for="valor">Valor</label>
        <input id="valor" class="form-control" type="text" pInputText placeholder="R$ 0,00"
               name="valor" ngModel #valor="ngModel" required
               [(ngModel)]="lancamento.valor"
               currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown class="form-control" [options]="categorias" placeholder="Selecione"
                    name="categoria" ngModel #categoria="ngModel" required
                    [(ngModel)]="lancamento.categoria.codigo">
        </p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown class="form-control" type="text" [options]="pessoas" placeholder="Selecione"
                    name="pessoa" ngModel #pessoa="ngModel" required
                    [(ngModel)]="lancamento.pessoa.codigo" >
        </p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label for="observacao">Observação</label>
        <textarea id="observacao" class="form-control" [rows]="3"  pInputTextarea name="observacao" ngModel #observacao="ngModel"
                  [(ngModel)]="lancamento.observacao" >
        </textarea>
      </div>

      <div class="p-col-12" style="margin-bottom: 100px" >
        <button pButton type="submit" label="Salvar" style="margin-right: 10px;" [disabled]="!lancamentoForm.valid" ></button>
        <button pButton type="button" label="Novo" class="p-button-secondary" (click)="novo(lancamentoForm)"></button>
        <a routerLink="/lancamentos" style="margin-left: 10px;">Voltar para pesquisa</a>
      </div>

    </div>
  </form>

</div>
</div>
