.tres-snippets {
  background-color: #1A2C5F;
  height: auto;
  position: relative;
  z-index: 50;
}

.snippet {
  text-align: center;
}

.centro {
  height: 100px;
  margin: 0 auto;
  width: 250px;
  margin-bottom: 30px;
  cursor: grab;
  /*<--- MARGIM PARA O TERCEIRO ELEMENTO */
}

.snippet-middle {
  background-color: #080F22;
  color: #D2D6E0;
  height: 130px;
  padding: 10px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  position: relative;
  bottom: 15px;
  z-index: 50;
}

#triangulo-para-baixo {
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-top: 30px solid #080F22;

  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
  position: relative;
  bottom: 15px;
}

.font-snippet {
  font-family: 'Fira Sans', sans-serif;
}


/* ***************************** *\
        icone de maos dadas
\* ***************************** */
.snippet .snippet-middle:hover {
  color: #F2F4FB !important;
  font-weight: 800 !important;
  text-shadow: 0 0 20px #FAFBFE;
}

.snippet .snippet-middle:hover .icon-help svg {
  cursor: grabbing !important;
  filter: drop-shadow(0px 0px 60px rgb(250, 251, 254)) drop-shadow(0px 0px 50px rgb(242, 244, 251)) drop-shadow(0px 0px 30px rgb(234, 238, 248)) drop-shadow(0px 0px 30px rgb(210, 214, 224));
}


/* ***************************** *\
         BODY - H1 TITULO
\* ***************************** */
.bem-vindo {
  text-align: center;
  color: #7387C1;
  font-family: 'Damion', cursive;
  font-size: 64px;
  line-height: 72px;
}

@media screen and (max-width: 960px) {
  .bem-vindo {
    font-family: 'Damion', cursive;
    font-size: 36px;
    line-height: 42px;
  }
}


/* ***************************** *\
         CAIXA - H2 TITULO
\* ***************************** */
.text-end {
  text-align: end;
}

/* --------< BORDA > --------- */
.section {
  border: 1px solid #CCC;
  padding: 10px;
  margin-top: 20px;
}

.section:hover {
  border-color: #606060 #3A3633 #3a3633 #606060;
  box-shadow: 0 0 10px #606060;
}

.section:hover .pi {
  margin-right: 20px;
  transition: 2s;
  color: #2F4B9A;
  opacity: 0.9;
}

/* --- icone de bebida flutuando a esquerda */
.section img {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

/* ----------- texto da caixa --------- */
.section p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: end;
  padding-bottom: 20px;
  color: #404C51 !important;
}

.clear {
  clear: both;
}


/* Conteudo do preambulo */
h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #2F4B9A 14.43%, #7387C1 85.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h5 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

.preambulo {
  color: #656566;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  line-height: 140%;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .preambulo {
    font-family: 'Rubik', sans-serif;
    ;
    font-size: 14px;
    line-height: 150%;
  }
}

strong {
  color: #161617;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  strong {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}



/* preambulo */
/* h3 {
  color: #C00000;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section h3 {
    color: #C00000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
} */
h3 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #2F4B9A 14.43%, #7387C1 85.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 960px) {
  h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

/*############################ */
.section a {
  text-decoration: none;
}

.section-revista a {
  text-decoration: none;
}

/* ------------------ REVISTA --------- */
.section-revista {
  border: 1px solid #CCC;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.section-revista h3 {
  text-align: right;
}

.logo-revista {
  text-align: center;
}

.section-revista:hover {
  border-color: #606060 #3A3633 #3a3633 #606060;
  box-shadow: 0 0 10px #606060;
}

.icon-revista {
  float: left;
  margin-top: 20px;
}

.section-revista p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: end;
  padding-top: 10px;
  color: #404C51;
}

/* --------< Seta revsita >--------- */
.pi {
  opacity: 0.1;
  float: right;
  padding-right: 10px;
}

.section-revista:hover .pi {
  margin-right: 20px;
  transition: 2s;
  color: #2F4B9A;
  opacity: 0.9;
}


/* ***************************** *\
           LINHA HR
\* ***************************** */
hr {
  height: 10px;
  background-color: #2F4B9A;
  border: none;
}


/* ***************************** *\
          TITULO EVENTO
\* ***************************** */
.titulo-h2 {
  text-align: center;
  color: #101215;
  font-family: 'Fira Sans', sans-serif;
  font-size: 52px;
  line-height: 110%;
}

@media screen and (max-width: 960px) {
  .titulo-h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}